<app-menu-title></app-menu-title>
<div class="home__articles">
    <div class="articles__main">
        <app-big-card
            id="1" 
            photoCover="assets/ESTEVÃO.png"
            cardTitle="COM TRÊS DE ESTÊVÃO, VERDÃO BATE SÃO PAULO E É BICAMPEÃO CONSECUTIVO DO BRASILEIRO SUB-17"
            cardDescription="O Palmeiras é campeão do Campeonato Brasileiro Sub-17 de 2023! Neste sábado (21), o time alviverde derrotou o São Paulo por 3 a 0, na Arena Barueri, e ficou com o título na grande decisão do torneio. Os três gols das Crias da Academia foram marcados por Estêvão."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            photoCover="assets/menino.png"
            cardTitle="PALMEIRAS FAZ TREINO ESPECÍFICO E GABRIEL MENINO VALORIZA SEMANA DE TRABALHO"
            cardDescription="O Palmeiras deu sequência na manhã desta terça-feira (17), na Academia de Futebol, à preparação para o confronto com o Atlético-MG, na quinta (19), às 19h, no Allianz Parque, pela 27ª rodada do Campeonato Brasileiro. Sob chuva, o elenco começou o dia com um treino técnico com ênfases específicas."
        ></app-small-card>

        <app-small-card
            id="3"
            photoCover="assets/sub.png"
            cardTitle="SUB-11 E SUB-13 VENCEM UNIÃO MOGI E ATLÉTICO MOGI PELAS QUARTAS DO PAULISTA"
            cardDescription="O Palmeiras deu sequência na manhã desta terça-feira (17), na Academia de Futebol, à preparação para o confronto com o Atlético-MG, na quinta (19), às 19h, no Allianz Parque, pela 27ª rodada do Campeonato Brasileiro. Sob chuva, o elenco começou o dia com um treino técnico com ênfases específicas."
        ></app-small-card>

        <app-small-card
            id="4"
            photoCover="assets/samia.png"
            cardTitle="SÂMIA MARCA PELA PRIMEIRA VEZ COM A CAMISA DO VERDÃO NAS QUARTAS DA LIBERTADORES: ‘SENTIMENTO IMENSURÁVEL"
            cardDescription="A noite do último sábado (14) foi especial para a meio-campista Sâmia. No Palmeiras desde o ano passado, a atleta balançou as redes pela primeira vez com a camisa do clube, na goleada alviverde contra o Olimpia (PAR), por 6 a 0, nas quartas de final da CONMEBOL Libertadores Feminina de 2023, no Estádio Metropolitano de Techo, em Bogotá (COL)"
        ></app-small-card>
    </div>
</div>