/* You can add global styles to this file, and also import other style files */
* {
    background-color: #ffffff;
    box-sizing: border-box;
    color: rgb(0, 74, 16);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}